body{
    margin:auto;
    text-align:center;
    background:	#5f9ea0;
  }
  
  a{
   margin-bottom:30px;
   background:white;
   border:1px solid blue;
   border-radius:10px;
   padding:10px;
  }
  
  p{
    color:white;
    margin:auto;
    max-width:80%;
  }
  