body{
    margin:0 auto;
    font-family:'Exo', sans-serif;
  }
  
  img{
    max-width:100%;
    max-height:100%;  
  }
  
  div section{
    margin-top:20px;
    margin-bottom:20px;  
  }
    .sec1{
      text-align:center;
      background-image:url("mountain.png");
      font-weight:100;
    }
  
  .sec1 button{
    color:white;
    background:#ff6d6d;
    border-radius:1px;
    padding:7px;
  }
  .sec2 p{
    font-weight:bolder; 
  }
  
  .sec3{
    text-align:center;
    margin:1px 45px;
    
  }
  
  .sec3 section{
    margin:auto;
    padding:10px;
  }
  
  .sec4 section{
    margin:auto;
    width:600px;
  }
  
  .sec5{
    background:#21232a;
    text-align:center;
    margin:1px 45px;
    
  }
  
  
  h6{
    color:#ff6d6d;
  }
  
  .sec6{
    margin:auto;
    text-align:center;
    width:800px;
  }
  
  .sec7{
    text-align:center;
    color:white;
    background:#323969;
    
  }
  
  .sec7 form{
    display:flex;
    justify-content:space-around;
  }
  
  .sec7 section{
    display:flex;
    justify-content:space-around;
    
  }
  
  .sec7 button{
    color:white;
    background:#ff6d6d;
  }
  
  .sec8{
    display:flex;
    justify-content:space-around;
  }
  
  .sec8 form{
    display:flex;  
  }
  
  .sec8 button{
    background:#ff6d6d;
  }
  @media screen and (min-width: 500px){
    .sec2{
      display:flex;
      flex-direction:row-reverse;
    }
    
    .sec3 section {
      display:flex;
    }
    
    .sec4{
      display:flex;
    }
    
    .sec5 .people {
      display:flex;
    }
    
    .sec5 .logo{
      display:flex;
      justify-content:space-around;
      margin:5px 10px;
    }
    }
    
    
    
    
    