body{
    margin:0 auto;
    font-family:'Exo', sans-serif;
  }
  
    .sec1{
      text-align:center;
      background-image:url("mountain.png");
      font-weight:100;
    }
  
  .sec1 button{
    color:white;
    background:#ff6d6d;
    border-radius:1px;
    padding:7px;
  }
  .sec2{
    
  }
  
  h6{
    color:#ff6d6d;
  }
  
  .sec3 {
    text-align:center;
  }
  
  @media screen and (min-width: 600px){
    .sec2{
      display:flex;
      flex-direction:row-reverse;
    }
    
    .sec3 section {
      display:flex;
    }
  }
    