*{
  box-sizing:border-box;
}

body{
  margin:auto;
  height:100vh;
}

header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 35%, rgba(129,0,138,1) 80%);
  margin-bottom:0px;
}

.topname{
  font-family: 'Lato', sans-serif;
  color:white;
  text-align:right;
  margin-right:15px;
}

.topname h1{
font-family: 'Lato', sans-serif;
  font-weight:100;
  font-style:italic;
  font-size:40px;
}

nav{
  font-family: 'Lato', sans-serif;
  font-style:italic;
  font-size:18px;
}

.navbar-custom{
  background-color:	#000000;
}

h1{
  text-shadow: 3px 3px #000000;
  font-family: 'Montserrat', sans-serif
}


.main{
background: rgb(19,0,36);
background: linear-gradient(180deg, rgba(19,0,36,1) 0%, rgba(55,31,70,1) 41%, rgba(97,78,98,1) 80%);
font-family: 'Montserrat', sans-serif; 
}

.main h1 {
  padding-top:20px;
  color:white;
  margin-bottom:20px;
}

.row{
  margin-top:30px;
}

.slide1{
  color:white;
  text-align:center;
  margin-bottom:30px;
}

.slide1 img{
  border:2px solid white;
  border-radius:25px;
}


.main ul{
  font-size:16px;
  margin:auto;
  color:#800080;
}


.main ul li{
  color:white;
}

  footer{
    text-align:left;
    padding:1px;
    font-size:15px;
    color:white;
    background:black;
    border-top:2px solid white;
  }


