body{
    margin:auto;  
  }
  
  header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 35%, rgba(129,0,138,1) 80%);
    margin-bottom:0px;
  }
  
  .topname{
    color:white;
    text-align:right;
    margin-right:15px;  
  }
  
  .container{
    min-width:100%;  
  }
  
  .top nav{
    border-top:2px solid white;
    border-bottom:2px solid white;
    height:50px;
    width:100vw; 
  }
  
  .top .navbar{
    display:flex;
    justify-content:flex-end;
  }
  
  
  .navbar-custom {
      background-color: black;
  }
  
  .navbar-custom .dropdown-menu-text{
    color:white;
  }
  
  .navbar-custom .navbar-text{
    color:white;
  }
  
  .main{
  background: rgb(19,0,36);
  background: linear-gradient(180deg, rgba(19,0,36,1) 0%, rgba(55,31,70,1) 41%, rgba(97,78,98,1) 80%);
   
  }
  
  .main h1{
    color:white;  
  }
  
  .row{
    margin-top:30px;
  }
  
  .slide1{
    color:white;
    text-align:center
  }
  
  .main ul{
    font-size:22px;
    color:#800080;
  }
  
  
  .main ul li{
    color:white;
  }
  
  
  