*{
  box-sizing:border-box;
}

body{
  margin:auto ;  
}

header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 35%, rgba(129,0,138,1) 80%);
  margin-bottom:0px;
}

.topname{
  color:white;
  text-align:right;
  margin-right:15px;
}

nav{
  font-size:20px;
}

.navbar-custom{
  background-color:	#000000;
}

.main{
background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.main h1 {
  padding-top:20px;
  color:white;
  margin-bottom:20px;
}

.container{
  margin-bottom:40px;
}


.container p {
  color:white;
  display:flex;
  align-items:center;
  padding:10px;
}

.container1{
  margin:auto;
  max-width:90%;  
}

.container1 .jumbotron {
  padding:10px;
  border:1px outset white;
  color:white;
}

h3{
  text-decoration: underline  double;
  text-decoration-color:#800080;
}

  footer{
    text-align:left;
    padding:1px;
    font-size:15px;
    color:white;
    background:black;
    border-top:2px solid white;
  }
