*{
  box-sizing:border-box;
}

body{
  margin:auto;  
}

header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 35%, rgba(129,0,138,1) 80%);
  margin-bottom:0px;
}

.topname{
  color:white;
  text-align:right;
  margin-right:15px;
}

nav {
  border-top:2px solid white;
  border-bottom:2px solid white;
}



.navbar-nav > li{
  margin:auto;
  padding-left:30px;
  padding-right:30px;
}

.navbar-custom {
    background-color: black;
}

.navbar-custom .dropdown-menu-text{
  color:white;
}

.navbar-custom .navbar-text{
  color:white;
}

.main{
background: rgb(19,0,36);
background: linear-gradient(180deg, rgba(19,0,36,1) 0%, rgba(55,31,70,1) 41%, rgba(97,78,98,1) 80%);
}

.container{
  margin-bottom:40px;
}

