*{
  box-sizing:border-box;
}

body {
  margin:auto;
  max-width:100%;
}

header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 35%, rgba(129,0,138,1) 80%);
  margin-bottom:0px;
}

.topname{
  color:white;
  text-align:right;
  margin-right:15px;
}

.main{
background: rgb(19,0,36);
background: linear-gradient(180deg, rgba(19,0,36,1) 0%, rgba(55,31,70,1) 41%, rgba(97,78,98,1) 80%);
margin:auto;
}

.main h1{
  color:white;
}
nav{
  font-size:20px;
  
}

.navbar-custom{
  background-color:	#000000;
}

.container1{
  margin:auto;
  max-width:90%;
  margin-bottom:30px;  
}

.carousel-inner > .item > img{
margin: 0 auto;
}

.carousel-caption{
  background: rgba(0, 0, 0, 0.3);
  border-radius:25px;
}

.carousel-caption p{
  font-size:12px;
}




.photo{
  margin:auto;
  margin-bottom:40px;
  max-width:80%;
  text-align:center;
  color:white;
}

.container3 {
  position:relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container3{
  position:relative;
}

.container3:hover .middle {
  opacity: 1;
}

.container3:hover .image{
  opacity:0.3;
}

.image{
  opacity: 1;
  display: block;
  transition: .5s ease;

}



.middle .text-center {
  
  color: white;
  font-size:30px;
  padding: 16px 32px;
}

.container2{
  text-align:center;
  margin-top:40px;
}

.row img{
  padding:40px;
  border-radius:50%;
}




