*{
  box-sizing:border-box;
}

body{
  margin:auto ;  
  background-color: black;
}

header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 35%, rgba(129,0,138,1) 80%);
  margin-bottom:0px;
}

.topname{
  font-family: 'Lato', sans-serif;
  color:white;
  text-align:right;
  margin-right:15px;
}

.topname h1{
font-family: 'Lato', sans-serif;
  font-weight:100;
  font-style:italic;
  font-size:40px;
}

nav{
  font-family: 'Lato', sans-serif;
  font-style:italic;
  font-weight:bold;
  font-size:18px;
}

.navbar-custom{
  background-color:	#000000;
}

h1{
  text-shadow: 2px 2px #800080;
  font-family: 'Rock Salt', cursive;
}


#main{
background: rgb(19,0,36);
background: linear-gradient(180deg, rgba(19,0,36,1) 0%, rgba(31,3,57,1) 53%, rgba(49,4,68,1) 88%);  
}

#main h1 {
  padding-top:20px;
  color:white;
  margin-bottom:20px;
}
img{
  border:3px solid white;
  border-radius:10px;
  margin:20px 10px 20px 10px ;
}

  footer{
    font-family: 'Lato', sans-serif;
    text-align:left;
    padding:1px;
    font-size:15px;
    color:white;
    background:black;
    border-top:2px solid white;
  }