*{
  box-sizing:border-box;
}

body{
  margin:auto ;  
}

header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 35%, rgba(129,0,138,1) 80%);
  margin-bottom:0px;
}

.topname{
  font-family: 'Lato', sans-serif;
  color:white;
  text-align:right;
  margin-right:15px;
}

.topname h1{
font-family: 'Lato', sans-serif;
  font-weight:100;
  font-style:italic;
  font-size:40px;
}

nav{
  font-family: 'Lato', sans-serif;
  font-style:italic;
  font-weight:bold;
  font-size:18px;
}

.navbar-custom{
  background-color:	#000000;
}

.main {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  margin:auto;
}

img{
  margin:auto;
  max-width:80%;
  height:auto;  
}

footer {
  text-align: left;
  padding: 1px;
  font-size: 15px;
  color: white;
  background: black;
  border-top: 2px solid white;
}