body{
  background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
color:white;
}

header{  
  color: #166d3b;
  
}

section{
  padding-left:10px;
  background: rgb(42,41,42);
background: linear-gradient(90deg, rgba(42,41,42,1) 0%, rgba(208,208,209,0) 100%);
}

h3{
  color:#90ee90;
}


.prop{
background:rgba(111,102,102,0.2);
  border-radius:10px;
}

/*animation.timing-function:*/

.prop .time .one{
  width:75px;
  height:75px;
  position:relative;
  animation:one 3s linear 0s infinite normal none;
}


@keyframes one{
  from{
    left:0px;
  }
  to{
    left:100px
  }
}

.prop .time .two{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:two 3s ease 0s infinite normal none;
}

@keyframes two{
  from{
    left:0px;
  }
  to{
    left:100px
  }
}

.prop .time .three{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:three 3s ease-in 0s infinite normal none;
}

@keyframes three{
  from{
    left:0px;
  }
  to{
    left:100px
  }
}

.prop .time .four{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 3s ease-out 0s infinite normal none;
}

@keyframes four{
  from{
    left:0px;
  }
  to{
    left:100px
  }
}

.prop .time .five{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:five 3s ease-in 0s infinite normal none;
}

@keyframes five{
  from{
    left:0px;
  }
  to{
    left:100px
  }
}

/*animation.delay*/

.prop .delay .one{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s ease-in 0s infinite normal none;
}

.prop .delay .two{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s ease-in 2s infinite normal none;
}

/*animation.iteration-count*/
.prop .count .one:hover{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s linear 0s 3 normal none;
}

.prop .count .two{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s ease-in 2s infinite normal none;
}

/*animation.direction*/

.prop .direction .one{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s ease-in 2s infinite normal none;
}

.prop .direction .two{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s ease-in 2s infinite reverse none;
}

.prop .direction .three{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s ease-in 2s infinite alternate none;
}

.prop .direction .four{
  display:block;
  width:75px;
  height:75px;
  position:relative;
  animation:four 4s ease-in 2s infinite alternate-reverse none;
}

/*animation.fill-mode*/

.example{
  display:flex;
}

.ex2{
  background-image:url("https://clip.cookdiary.net/sites/default/files/wallpaper/road-clipart/166472/road-clipart-side-view-166472-2154068.jpg");
 background-size:contain;
  height:200px;
  width:300px;
}

.ex2 img{
  display:inline-block;
  position:relative;
  left:0px;
  top:50%;
  width:90px;
  height:90px;
  animation: sup 2s ease-in-out 0s infinite normal none;
}

@keyframes sup {
  from {
    left:0px;
  }
  
  to{
  left:150px;
  }
}
.ex3{
  width:300px;
  height:300px;
}
.ex3 img{
    padding:10px;
    width:200px;
    height:210px;
    animation:heart 1s ease-in-out 0s infinite none;
  }
  
  
  @keyframes heart{
    0%{
     width:180px;
     height:190px;
    }
    
    25%{
     width:200px;
     height:210px;    
    }
    
    50%{
     width:130px;
     height:140px;
    }
    
    65%{
     width:230px;
     height:240px;    
    }
    100%{
      width:180px;
     height:190px;
    }
  }