body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    background-color: azure
}
h1,h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

a:link {
    color: rgb(101, 101, 206);
}
a:hover{
    color:rgb(61, 61, 126);
}
a:visited {
    color:rgb(107, 107, 121)
} 


figure.quote {
    color: #698b9c;
    margin: 2em 1em;
    background-color: white;
    font-size: 1.25em;
    border-left: 1px dotted rgb(139, 139, 207);
    padding: 0 1em;
}
figcaption::before {
    content: "— ";
}
figcaption {
    line-height: 1.5em;
}
blockquote {
    margin: 0;
    padding: 0;
}

code {
    background-color: rgb(234, 234, 234);
}

li {
    margin-bottom: 1em;
}

hr {
    border: 1px dotted rgb(139, 139, 207);
    margin: 2em;
}



@media (min-width: 945px ) {
    main {
        display: flex;
    }
    main > article, main > aside {
        width: 50%;
    }
    img {
        float: right;
        max-width: 100%
    }
}